body {
    font-family: 'Inter', sans-serif;
}

.login-container {
    max-width: 400px;
    margin: auto;
    padding: 2rem;
    border-radius: 15px;
}

.form-control {
    width: Fill (335px)px;
    height: Fixed (56px)px;
    padding: 15px 16px 15px 16px;
    gap: 8px;
    border-radius: 8px 0px 0px 0px;
    border: 1.2px 0px 0px 0px;
    opacity: 0px;
    color: #A8AEBF;
}

.btn-login {
    width: 100%;
    border-radius: 10px;
    background-color: #e0e0e0;
    border: none;
}

.btn-google {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-google img {
    width: 20px;
    margin-right: 8px;
}

.forgot-password {
    text-align: right;
    font-size: 0.9rem;
    color: #6c757d;
}

h4 {
    font-size: 24px !important;
    font-weight: 700;
}